body {
  margin: 0;
  font-family: 'Fira Sans Condensed', serif, sans-serif;
  letter-spacing: 1px;
}

.header {
  background-color: #19d3da;
  font-size: 1.6rem;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

#logo {
  font-size: 2rem;
}

.navbar a {
  text-decoration: none;
  color: black;
  margin: 10px 0;
  transition: color 0.2s ease-in-out;
}

.navbar a:hover {
  color: slategrey;
}

.main-container {
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
}

.sec-form,
.sec-result {
  width: 40%;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.form {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.form p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.genders {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

#male {
  content: url('icons/man.png');
}

#female {
  content: url('icons/woman.png');
}

#male,
#female {
  height: 70px;
  width: 70px;
  appearance: none;
  transition: opacity 0.2s ease-in-out;
}

#male:hover,
#female:hover {
  opacity: 60%;
  cursor: pointer;
}

input[type='number'] {
  width: 70%;
  height: 25px;
  font-size: 1rem;
}

.button {
  font-family: 'Fira Sans Condensed', serif, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto;
  letter-spacing: 2px;
  background-color: #19d3da;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: aquamarine;
}

.gradient {
  height: 25px;
  width: 100%;
  background: linear-gradient(to right, cyan, lime, yellow, orange, red);
}

#pointer {
  content: url(icons/traingle.png);
  width: 20px;
  height: 20px;
  position: relative;
  left: -10px;
}

.display-res {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
}

.display-stat {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .main-container {
    flex-direction: column;
  }
  .sec-form,
  .sec-result {
    width: 90%;
  }
}
